@import "../../utils/variables.scss";

.todo-item {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1.8em;

  .todo-text {
    color: $grey;
    width: 80%;
    word-wrap: break-word;
    padding: 0.4em;

    &.complete {
      text-decoration: line-through;
      color: red;
    }
  }

  .delete {
    border: none;
    cursor: pointer;
    border-radius: 0.2em;
    background-color: $white;
    color: #db524d;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
