@import "../../utils/variables.scss";

.todo-form {
  width: 100%;
  padding: 1em;

  .todo-input {
    padding: 0.5em 0.5em 0.5em 0;
    border-radius: 0.2em;
    width: 80%;
    font-size: 1.8em;
    margin: 1em 0 1em 1em;
    background-color: $white;
    border: none;
    font-weight: 400;

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 1;
      color: #dadada;
      font-weight: bold;
    }
  }

  .form-footer {
    display: flex;

    .button-wrapper {
      margin-left: auto;

      .add-todo {
        padding: 0.5em;
        margin-left: 0.8em;
        margin-right: 1.5em;
        border: none;
        cursor: pointer;
        border-radius: 0.2em;
        color: $white;
        background-color: $background;

        &:disabled {
          background-color: $grey;
        }
      }

      .clear-todo {
        padding: 0.5em;
        border: none;
        cursor: pointer;
        border-radius: 0.2em;
        color: $white;
        background-color: #db524d;
      }
    }
  }
}
